{% extends "base.html" %}

{% block content %}
<script>
    function showForm() {
        var selectValue = document.getElementById("userType").value;

        // Masquer tous les formulaires
        document.getElementById("adminForm").style.display = "none";
        document.getElementById("formateurForm").style.display = "none";
        document.getElementById("apprenantForm").style.display = "none";
        document.getElementById("salarieForm").style.display = "none";

        // Afficher le formulaire correspondant à l'option sélectionnée
        if (selectValue === "admin") {
            document.getElementById("adminForm").style.display = "block";
        } else if (selectValue === "formateur") {
            document.getElementById("formateurForm").style.display = "block";
        } else if (selectValue === "apprenant") {
            document.getElementById("apprenantForm").style.display = "block";
        } else if (selectValue === "salarie") {
            document.getElementById("salarieForm").style.display = "block";
        }
    }
</script>
<div class="form-group">
    <label for="userType">Choisissez un type d'utilisateur :</label>
    <select name="userType" id="userType" onchange="showForm()">
        <option value="admin">Administrateur</option>
        <option value="formateur">Formateur</option>
        <option value="apprenant">Apprenant</option>
        <option value="salarie">Salarié</option>
    </select>
</div>
<form id="adminForm" style="display: none;" action = "http://localhost:5000/creaAdmin" method = "POST">
    <div class="form-group">
        <label for="firstName">Prenom</label>
        <input type="text" class="form-control" id="firstNameId" name="firstName" aria-describedby="firstNameHelp" placeholder="James" value="james">
        <small id="firstNameHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" class="form-control" id="lastNameId" name="lastName" aria-describedby="lastNameHelp" placeholder="Dean" value="dean">
        <small id="lastNameHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudoId" name="pseudo" aria-describedby="pseudoHelp" placeholder="jami" value="jami">
        <small id="pseudoHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="emailAddressId" name="emailAddress" aria-describedby="emailAddressHelp" placeholder="jdean@example.com" value="jdean@example.com">
        <small id="emailAddressHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" id="telephone" name="telephone" aria-describedby="telephoneHelp" placeholder="0601020304" value="0603020100">
        <small id="telephoneHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="section">Section</label>
        <select name="section" id="section">
            <option value="1">BeCare</option>
            <option value="2">BeGreen</option>
            <option value="3">Beweb</option>
            <option value="4">BePro</option>
        </select>
    </div>

    <div>
        <label for="formateur">Etes vous formateur ?</label>
        <select name="formateur" id="formateur">
            <option value="y">oui</option>
            <option value="n">non</option>
        </select>
    </div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<form id="formateurForm" style="display: none;" action = "http://localhost:5000/creaAdmin" method = "POST">
   
</form>
<form id="apprenantForm" style="display: none;" action = "http://localhost:5000/creaAdmin" method = "POST">
    
</form>
<form id="salarieForm" style="display: none;" action = "http://localhost:5000/creaAdmin" method = "POST">
    
</form>
{% endblock %}